<header>
  <div class="container-fluid p-0">
    <app-header></app-header>
  </div>
</header>
<section class="background-image-settings centr-item">
  <router-outlet></router-outlet>
</section>

<main>
  <div class="auther-section">
    <div class="">
      <img class="img-fluid" src="../assets/images/covaction.jpg" alt="">
    </div>
    <div class="">
      <h3>Dinesh Sah</h3>
      <b>Post Graduated from BHU Varanasi</b>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, magni?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quaerat maiores sequi aut sunt modi voluptas,
        suscipit quos sint saepe tenetur labore impedit, id assumenda eos! Doloremque aperiam tempore aut ducimus
        placeat obcaecati error temporibus dignissimos laboriosam aspernatur. Amet soluta dolore ab eos consequatur
        porro, pariatur praesentium quas! Asperiores, libero repudiandae repellat pariatur nisi illo recusandae dolor
        natus eos consequuntur quae nam! Libero nemo itaque deleniti quia ad odio odit recusandae eveniet? Illum unde
        distinctio, nihil tempora veritatis neque. Reprehenderit, saepe fugiat? Laborum quisquam sint voluptatibus error
        obcaecati minus eum, nesciunt deserunt consequuntur delectus iste animi facere praesentium quibusdam neque?</p>
    </div>
  </div>
  <section class="section-2 p-0 container-fluid">
    <div class="cover">
      <div class="content text-center">
        <h1>Some feature that make us unique</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, natus!</p>
      </div>
    </div>
    <div class="container-fluid text-center">
      <div class="numbers d-flex flex-md-row justify-content-center">
        <div class="rect">
          <h1>2345</h1>
          <p>Happy client</p>
        </div>
        <div class="rect">
          <h1>674</h1>
          <p>cups cofee</p>
        </div>
        <div class="rect">
          <h1>1056</h1>
          <p>ticket submitted</p>
        </div>
        <div class="rect">
          <h1>9152</h1>
          <p>Total project</p>
        </div>
      </div>
    </div>
    <div class="perchage text-center">
      <h1>Perchage whatever you want</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
      <div class="cards">
        <div class="d-flex flex-row justify-content-center flex-wrap">
          <div class="card">
            <div class="card-body">
              <div class="title">
                <h5 class="card-title">
                  PDF
                </h5>
              </div>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing
              </p>
              <div class="pricing">
                <h1>$1234</h1>
                <a href="#" class="btn btn-dark px-5 py-2 mb-5">Perchage now</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="title">
                <h5 class="card-title">
                  E-book
                </h5>
              </div>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
              <div class="pricing">
                <h1>$99.99</h1>
                <a href="#" class="btn btn-dark px-5 py-2 mb-5">Perchage now</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="title">
                <h5 class="card-title">
                  print Coppy text
                </h5>
              </div>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
              <div class="pricing">
                <h1>$58.00</h1>
                <a href="#" class="btn btn-dark px-5 py-2 mb-5">Perchage now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="section-3 container-fluid text-center p-0">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <h1 class="download-app-title">Download our app for all platform</h1>
        <p class="download-app-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo architecto
          ea recusandae, velit facere
          quasi, ad vel dolor explicabo labore, vero saepe tempora maiores officia. Quisquam, nesciunt. Dolorem,
          blanditiis aliquid!</p>
      </div>
    </div>
    <div class="platform row">
      <div class="col-md-6 col-sm-6 text-right">
        <div class="desktop shadow-lg">
          <div class="d-flex flex-row justify-content-center">
            <i class="fa fa-external-link fa-3x py-2 pr-3"></i>
            <div class="text text-left">
              <h3 class="pt-1 m-0">
                Desktop
              </h3>
              <p class="p-0 m-0">On Websiyte</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 text-left">
        <div class="desktop shadow-lg">
          <div class="d-flex flex-row justify-content-center">
            <i class="fa fa-external-link fa-3x py-2 pr-3"></i>
            <div class="text text-left">
              <h3 class="pt-1 m-0">
                mobile
              </h3>
              <p class="p-0 m-0">On Mobile</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-4">
    <div class="container text-center">
      <h1 class="text-dark">What our reader say </h1>
      <p class="text-secodary">Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="tean row">
      <div class="col-md-4 col-sm-12 text-center">
        <div class="card d-inlineblock shadow-lg">
          <div class="card-img-top">
            <img src="../assets/images/hostel.jpg" alt="member" class="img-fluid border-radius p-4">
          </div>
          <div class="card-body">
            <h3 class="card-title">Dinesh</h3>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam cum vel, autem
              doloremque natus impedit vitae pariatur inventore dolorum, ab quos possimus rem. Maiores, sint totam?
              Deserunt, hic velit ratione eveniet sit adipisci aperiam quidem repellendus quia ipsum error molestias
              fuga at natus magni, minima rerum saepe neque tempore? Doloribus!</p>
            <a href="#" class="text-secondary text-decoration-none">Go Somewhere</a>
            <p class="text-black-50">CEO</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 text-center">
        <carousel>
          <slide>
            <div class="card d-inlineblock shadow-lg">
              <div class="card-img-top">
                <img src="../assets/images/hostel.jpg" alt="member" class="img-fluid rounded-circle w-50 p-4">
              </div>
              <div class="card-body">
                <h3 class="card-title">Dinesh Sah</h3>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eos dolorem
                  unde
                  numquam? Ducimus earum asperiores, obcaecati reprehenderit ex beatae tempora, voluptatem et
                  laboriosam
                  sit praesentium suscipit rem ratione laborum odio. Odit dolorem quos, doloremque velit fugiat
                  veritatis
                  ut consequuntur!</p>
                <a href="#" class="text-secondary text-decoration-none">Go Somewhere</a>
                <p class="text-black-50">UI/UX Developer</p>
              </div>
            </div>
          </slide>
          <slide>
            <div class="card d-inlineblock shadow-lg">
              <div class="card-img-top">
                <img src="../assets/images/covaction.jpg" alt="member" class="img-fluid rounded-circle w-50 p-4">
              </div>
              <div class="card-body">
                <h3 class="card-title">Dinesh Sah</h3>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eos dolorem
                  unde
                  numquam? Ducimus earum asperiores, obcaecati reprehenderit ex beatae tempora, voluptatem et
                  laboriosam
                  sit praesentium suscipit rem ratione laborum odio. Odit dolorem quos, doloremque velit fugiat
                  veritatis
                  ut consequuntur!</p>
                <a href="#" class="text-secondary text-decoration-none">Go Somewhere</a>
                <p class="text-black-50">UI/UX Developer</p>
              </div>
            </div>
          </slide>
          <slide>
            <div class="card d-inlineblock shadow-lg">
              <div class="card-img-top">
                <img src="../assets/images/profesional.jpg" alt="member" class="img-fluid rounded-circle w-50 p-4">
              </div>
              <div class="card-body">
                <h3 class="card-title">Dinesh Sah</h3>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eos dolorem
                  unde
                  numquam? Ducimus earum asperiores, obcaecati reprehenderit ex beatae tempora, voluptatem et
                  laboriosam
                  sit praesentium suscipit rem ratione laborum odio. Odit dolorem quos, doloremque velit fugiat
                  veritatis
                  ut consequuntur!</p>
                <a href="#" class="text-secondary text-decoration-none">Go Somewhere</a>
                <p class="text-black-50">UI/UX Developer</p>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
      <div class="col-md-4 col-12 text-center">
        <div class="card d-inlineblock shadow-lg">
          <div class="card-img-top">
            <img src="../assets/images/profesional.jpg" alt="member" class="img-fluid border-radius p-4">
          </div>
          <div class="card-body">
            <h3 class="card-title">Dev Dinesh</h3>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem ullam eius
              distinctio explicabo nam nulla, quae, numquam officia ipsum molestias omnis odit est asperiores ducimus
              unde sequi praesentium. Obcaecati, laudantium.</p>
            <a href="#" class="text-secondary text-decoration-none">Go Somewhere</a>
            <p class="text-black-50">UI/UX Developer</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  <div class="container-fluid p-0">
    <div class="row text-left">
      <div class="col-md-5">
        <h1 class="text-right">
          about us
        </h1>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum architecto necessitatibus
          excepturi at voluptatum nobis, voluptatem eos ducimus optio sequi!</p>
        <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.<span> Sint, a?</span></p>
      </div>
      <div class="col-md-5">
        <h4 class="text-light">
          Newslatter
        </h4>
        <p class="text-muted">Statay updated</p>
        <form action="" class="form-inline">
          <div class="col pl-0">
            <div class="input-group pr-5">
              <input type="text" class="form-control ng-dark text-white" placeholder="Email">
              <div class="input-group-prepend">
                <div class="input-group-tex">
                  <i class="fa fa-arrow-circle-o-right"></i>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-2 col-sm-12">
        <h4 class="text-light">Follow Us</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet.</p>
        <div class="column">
          <i class="fa fa-arrow-circle-o-right"></i>
          <i class="fa fa-arrow-circle-o-right"></i>
          <i class="fa fa-arrow-circle-o-right"></i>
          <i class="fa fa-arrow-circle-o-right"></i>
        </div>
      </div>
    </div>
  </div>
</footer>